

.container{
	background-color: black;
	border-radius: 
}

/**{
	background-color: #3d3120
}*/
.table{
	color: white
}
thead{
	background-color: #4a4234;

}
tbody{
	background-color:   #332600
}
.btn{
	background-color: #cfac74;
	font-size: 14px
}
a{
	color: black;
}
a:hover{
	color: black;
}
@media (min-width: 768px) and (max-width: 1199.98px) {  }





