

.container{
	background-color: black;
	border-radius: 
}

/**{
	background-color: #3d3120
}*/
.table{
	color: white
}
thead{
	background-color: #4a4234;

}
tbody{
	background-color:   #332600
}
.btn{
	background-color: #cfac74;
	font-size: 14px
}
a{
	color: black;
}
a:hover{
	color: black;
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }





